@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('../src/fonts/Inter.ttc') format('truetype');
}

@font-face {
    font-family: 'Inter Variable Text Thin';
    src: url('../src/fonts/InterVariable.ttf') format('truetype');
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Inter Variable Text Thin';
    margin-bottom: 20px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenedor {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    object-fit: cover;
    height: auto;
}